{
  "name": "YOUR_SIGMA_CONNECTION_NAME",
  "details": {
    "type": "databricks",
    "host": "RETRIEVED_DATABRICKS_HOST",
    "endpoint": "RETRIEVED_HTTP_PATH",
    "useOauth": true,
    "useOrgOauth": false,
    "oauth": {
      "provider": "databricks",
      "clientId": "RETRIEVED_DATABRICKS_OAUTH_CLIENT_ID",
      "clientSecret": {
        "type": "plain",
        "value": "SUPPLIED_DATABRICKS_OAUTH_CLIENT_SECRET"
      },
      "metadataUrl": "RETRIEVED_DATABRICKS_OIDC_METADATA_URL",
      "scopes": [
        "openid",
        "profile",
        "email",
        "all-apis",
        "offline_access"
      ]
    },
    "writebackSchemas": [
      {
        "writeCatalog": "RETRIEVED_OR_NEW_CATALOG",
        "writeSchema": "RETRIEVED_OR_NEW_SCHEMA"
      }
    ]
  }
}
